includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    phpVersion: 80400
    treatPhpDocTypesAsCertain: false
    paths:
        - roi.php
        - includes/
    bootstrapFiles:
        - tests/phpstan/bootstrap.php
