.wp-block-roi-chessboard .castling-controls {
    margin-bottom: 10px;
}

.wp-block-roi-chessboard .castling-controls__label {
    display: block;
    font-weight: 500;
    margin-bottom: 4px;
}

.wp-block-roi-chessboard .castling-controls__row {
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 2px;
}

.wp-block-roi-chessboard .castling-controls__row span {
    font-size: 12px;
    min-width: 45px;
    display: inline-block;
}

.wp-block-roi-chessboard .castling-controls .components-base-control {
    margin-bottom: 0;
}
.wp-block-roi-chessboard .castling-controls .components-checkbox-control__label {
    margin-left: 4px;
}

.cm-chessboard {
    pointer-events: auto !important;
    user-select: none;
    width: 100% !important;
    max-width: none !important;
}

.wp-block-roi-chessboard .elo-range-control .components-range-control__number,
.wp-block-roi-chessboard .elo-range-control .components-range-control__tooltip-content {
    display: none !important;
}

.is-success .components-text-control__input {
    border-color: green;
}

.piece-selection-dialog-group rect,
.piece-selection-dialog-group g[data-piece] {
    animation: fade-in 0.25s ease-in;
}

.piece-selection-dialog-group .piece-selection-dialog {
    fill: white;
    fill-opacity: 0.85;
    stroke: rgba(0, 0, 0, 0.4);
    stroke-width: 1px;
}

.piece-selection-dialog-group .piece-selection-dialog-button {
    fill: transparent;
    cursor: pointer;
}

.piece-selection-dialog-group .piece-selection-dialog-button:hover {
    fill: rgba(0, 0, 0, 0.2);
}

.piece-selection-dialog-group .piece {
    pointer-events: none;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
